<%- include('includes/head', { pageTitle: 'Ocurrio un Error' }) %>
</head>
<body>
  <%- include('includes/header') %>
  <main>
    <h1>Usted no esta autorizado</h1>
    <p>Debe ser un usuario autorizado</p>
    <p><a class="btn" href="/">Regresar</a></p>
  </main>
<%- include('includes/footer') %>