<%- include('includes/head', { pageTitle: 'Ocurrio un Error' }) %>
</head>
<body>
  <%- include('includes/header') %>
  <main>
    <h1>No se encontro esta pagina</h1>
    <p>Posiblemente esta pagina no existe</p>
    <p><a class="btn" href="/">Regresar</a></p>
  </main>
<%- include('includes/footer') %>