<%- include('includes/head', { pageTitle: 'Ocurrio un Error' }) %>
</head>
<body>
  <%- include('includes/header') %>
  <main>
    <h1>Algo salio mal</h1>
    <p>Desafortunadamente, algo salio mal - intentelo mas tarde.</p>
    <p><a class="btn" href="/">Regresar</a></p>
  </main>
<%- include('includes/footer') %>