<%-  include('../../shared/includes/footer', {pageTitle: 'Update product'}) %> 
    <link rel="stylesheet" href="/styles/form.css">
    <link rel="stylesheet" href="/styles/base.css">
    <link rel="stylesheet" href="/styles/navigation.css">
    <script src="/scripts/image-preview.js" defer></script>

</head>
<body>
    <%- include('../../shared/includes/header') %>
    <main>
        <h1>Editar producto / caja</h1>
        <%- include('includes/product-form', { submitPath: '/admin/products/' + product.id, product: product, imageRequired: false }) %>
        
    </main>
<%- include('../../shared/includes/footer') %> 